<!-- HOMEPAGE -->
<div class="home" v-if="page == 'home'">
    <section v-if="state == 'loaded'" :id="'section_home'+(indice+1)" v-for="(produit, indice) in params.structure.home.produits">
        <div class="odr" v-if="params.produits[produit].home.odr && params.produits[produit].home.odr != ''" v-html="getODR(params.produits[produit].home.odr)"></div>
        <img class="bg" :src="getImageHome('bg',indice)">
        <img class="signature" :src="getImageHome('sig',indice)">
        <div class="w_floating-square">
            <div class="floating-square">
                <h1>{{ params.produits[produit].home.produit }}</h1>
                <p class="desc">{{ params.produits[produit].home.accroche }}</p>
                <div class="w_star" v-if="getAvis(produit) > 0"><span :class="getStars(produit)"></span><span class="nb_avis">{{ getAvis(produit) }} avis clients</span></div>
                <p class="priceline"><span v-html="getPrice(produit, 'full')"></span></p>
            </div>
            <div class="w_discover">
                <a @click="menuChange(produit,'decouvre')">JE DÉCOUVRE</a>
            </div>
        </div>
        <p class="claim" v-if="params.produits[produit].home.claim != ''" v-html="params.produits[produit].home.claim"></p>
    </section>
</div>
