/* -- -- HOME -- -- */
.home #section_home1,.home #section_home2,.home #section_home3,.home #section_home4{position:relative;width:100%;background-color: #000;}
.home #section_home1 > .bg,.home #section_home2 > .bg,.home #section_home3 > .bg,.home #section_home4 > .bg{display:block;width:100%;height:auto;}
.home #section_home1 > .signature{
    position: absolute;
    top: 30%;
    right: 4%;
    width: 34%;
}
.home #section_home3 > .signature{
    position: absolute;
    top: 0;
    right: 4%;
    width: 48%;
}
.home #section_home2 > .signature{
    position: absolute;
    top: 30%;
    left: 4%;
    width: 31%;
}
.home #section_home4 > .signature{
    position: absolute;
    top: 9%;
    left: 0;
    width: 59%;
}
.home .floating-square{
    opacity: 0.902;
    width: 29.245vmin;
    box-sizing: border-box;
}
.w_floating-square{transform:translateY(-50%);position:absolute;}
.home #section_home1 > .w_floating-square,.home #section_home3 > .w_floating-square{left:2%;top:50%;text-align: left;}
.home #section_home2 > .w_floating-square,.home #section_home4 > .w_floating-square{right:2%;top:50%;text-align: right;}
.home #section_home2 .desc,.home #section_home4 .desc{text-align: right;}
.floating-square > h1{
    letter-spacing: 0.25vmin;
    margin: 0 0 1.5vmin 0;
    font-family: "hpsimplified",sans-serif;
    font-size: 2.3vmin;
    color: rgb(48, 48, 48);
    font-weight: bold;
    line-height: 2.5vmin;
    width: 12vmin;}
.home #section_home2 .floating-square > h1,
.home #section_home4 .floating-square > h1{margin: 0 0 1.5vmin auto;}
.home .floating-square > .desc{
    width: 14.1vmin;
    margin-top: 0;
    display: inline-block;
    font-size: 1.2vmin;
    font-family: "hpsimplified",sans-serif;
    color: rgb(48, 48, 48);
    font-style: italic;
    line-height: 2.1vmin;
    text-align: left;
}
/*.home #section_home1 .desc{width: 17.64vmin;}
.home #section_home2 .desc{width: 17.64vmin;}
.home #section_home3 .desc{width: 20.56vmin;}
.home #section_home4 .desc{width: 17.05vmin;}*/
.home .w_discover{width: 100%;margin-top: 1.295vmin;}
.home .w_discover a{
    cursor: pointer;
    padding: 1vmin 1.355vmin;
    letter-spacing: 0.17vmin;
    background-color: rgb(0, 150, 214);
    display: inline-block;
    color: #fff;
    font-size: 1.4vmin;
    font-family: "hpsimplified",sans-serif;
    font-weight: bold;
}
.home .w_discover a:hover{background-color: rgb(49, 167, 217);}
.home #section_home2 .w_discover,.home #section_home4 .w_discover{text-align:right}

.home .w_star{position:relative;margin-bottom: 0.825vmin;}
.home .star{vertical-align:middle;padding-top:0;width: 7.85vmin;height: 1.4vmin;background-size: 100%;}
.home .star:before{font-size:34px;width: 168px;height: 21px;}
.home .star:after{font-size:34px;height: 21px;}
.home .w_star .nb_avis{
    font-family: "Roboto",sans-serif;
    margin-left: 0.885vmin;
    font-size: 1.3vmin;
    vertical-align: middle;
    color: #000;}
.home .priceline *{font-family:"Roboto",sans-serif;}
.home .priceline{font-family:"Roboto",sans-serif;vertical-align:middle;color:#000;font-size: 1.295vmin;}
.home .priceline span {
    vertical-align: middle;
    font-size: 3.7vmin;
    font-weight: bold;
}
.home .priceline span > span{
    font-size: 2.1vmin;
    vertical-align: top;}

.home .odr{
    position: absolute;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: rgb(0, 150, 214);
    box-shadow: 1.286px 1.532px 4.8px 0.2px rgba(0, 0, 0, 0.28);
    width: 10.16vmin;
    height: 10.16vmin;}
.home #section_home1 .odr,.home #section_home3 .odr{top:4%;left: 20%;}
.home #section_home2 .odr,.home #section_home4 .odr{top:4%;right:11%;}



.home .odr span{text-align:center;display: block;color:#fff;font-family:"Roboto",sans-serif;}
.home .odr span:nth-child(1){
    margin-top: 2.35vmin;
    font-size: 4.55vmin;
    font-weight: bold;
    line-height: 4.5vmin;}
.home .odr span:nth-child(2){font-size: 1.4vmin;font-weight: bold;line-height: 0;}
.home .claim{
    position: absolute;
    color: #fff;
    bottom: 0.59vmin;
    right: 0.59vmin;
    margin: 0;
    font-family: "hpsimplified",sans-serif;
}
