/* POPIN */
.produit #w_popin{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.9);z-index: 9999;}
.produit #w_popin .popin{width:100%;height:100%;position:relative;}
.produit #w_popin .popin .w_img-popin{
    height: auto;
    width: 70%;
    position: relative;
    top: 60vmin;
    left: 50%;
    transform: translateX(-50%);
    display: block;}
.produit #w_popin.howitworks .popin .w_img-popin {
    top: 176vmin;
}
.produit #w_popin .close_popin{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: -60px;
    width: 2vmin;}
.produit #w_popin img{opacity: 1;position:absolute;width:100%;height:auto;display:block;}
.produit #w_popin video{
    width: 100%;
    height: auto;
    background: #000;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    vertical-align: top;
    display: inline-block;
}
/* SECTION 1 */
.produit #section_prod1 *{font-family:"hpsimplified",sans-serif;}
.produit #section_prod1{position:relative;width:100%;background-color: #000;}
.produit #section_prod1 > img{display:block;width:100%;height:auto;}
.produit #section_prod1 .goback{color:#fff;position:absolute;top: 3.5%;left: 1.9%;}
.produit #section_prod1 .goback > img{margin-right: 0.58vmin;width: 1.4vmin;height:auto;}
.produit #section_prod1 .goback > p{font-family:"Open Sans",sans-serif;font-size: 1.4vmin;margin:0;color:rgb(67, 67, 67);}
.produit #section_prod1 .goback:hover > p{text-decoration:underline;}
.produit #section_prod1 .goback > img, .produit #section_prod1 .goback > p{display:inline-block}

.produit #section_prod1 .floating_odr{
    position: absolute;
    top: 18%;
    right: 54%;
    width: 6.5vmin;
    height: 6.5vmin;
    background: rgb(0, 150, 214);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 1vmin;
    box-sizing: border-box;
    padding-top: 1.5vmin;}
.produit #section_prod1 .floating_odr span{
    display: block;
    font-size: 2.8vmin;
    line-height: 2.4vmin;}
.produit #section_prod1 .floating_odr sup{vertical-align: baseline;}

.produit #section_prod1 .product_specs{
    position: absolute;
    width: 46.39vmin;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}
.produit #section_prod1 .product_specs h1{
    font-size: 2.52vmin;
    color: rgb(48, 48, 48);
    font-weight: bold;
    border-bottom: solid 2px rgb(0, 150, 214);
    letter-spacing: 0.29vmin;
    padding-bottom: 0.4vmin;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 1.3vmin;
}
.produit #section_prod1 .specs-body{width:100%}
.produit #section_prod1 .specs-body > .signature{
    display: block;
    margin-top: 1.18vmin;
    font-family: "honeyscript",sans-serif;
    color: rgb(0, 150, 214);
    font-size: 3.7vmin;
}
.produit #section_prod1 .specs-body > p{
    line-height: 2.55vmin;
    font-family: "Roboto",sans-serif;
    color: rgb(48, 48, 48);
    font-size: 1.7vmin;
    margin-top: 0;
}
.produit #section_prod1 .specs-body > p > span{font-family:"Roboto",sans-serif;font-size: 17px;vertical-align: super;}
.produit #section_prod1 .w_star{
    position: relative;
    margin-bottom: 2.35vmin;
}
.produit #section_prod1 .star{
    vertical-align: middle;
    padding-top: 0;
    width: 7.93vmin;
    height: 1.53vmin;
    background-size: 100%;
}
.produit #section_prod1 .w_star .nb_avis{
    font-family: "Roboto",sans-serif;
    margin-left: 0.885vmin;
    font-size: 1.3vmin;
    vertical-align: middle;
    color: rgb(48, 48, 48);}
.produit #section_prod1 .priceline *{font-family:"Roboto",sans-serif;}
.produit #section_prod1 .priceline{
    font-family: "Roboto",sans-serif;
    vertical-align: middle;
    color: rgb(48, 48, 48);
    font-size: 1.3vmin;
}
.produit #section_prod1 .priceline span{
    vertical-align: middle;
    font-size: 5.3vmin;
    font-weight: bold;
    line-height: 0;}
.produit #section_prod1 .priceline span > span{
    font-size: 2.8vmin;
    vertical-align: top;}
.produit #section_prod1 .priceline .add-to-cart{
    border: 0;
    cursor: pointer;
    display: inline-block;
    width: 14.68vmin;
    color: white;
    line-height: 2.9vmin;
    border-radius: 4px;
    text-align: center;
    font-size: 1.4vmin;
    background-color: #f5b027;
    margin-left: 2.35vmin;
}
.produit #section_prod1 .priceline .add-to-cart:hover{ background-color: #ffba33 }
.produit #section_prod1 .priceline .add-to-cart.indispo{color:#1a1a1a; background-color: white;}

.produit #section_prod1 .add-to-cart i{
    margin-right: 0.5vmin;
}
.produit #section_prod1 .add-to-cart i:before {
    content: "\f148";
    font-family: "icons";
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.produit #section_prod1 .ast{
    position: absolute;
    bottom: 3.36%;
    right: 4.7%;
    font-size: 0.85vmin;
}
/* SECTION2 */
.produit #section_prod2{background:#fff;padding: 2.94vmin 7%;}
.produit #section_prod2 .w_cr_products{position:relative}
.produit #section_prod2 #cr_products{overflow: hidden;position:relative;}
.produit #section_prod2 #cr_products .w_slide{
    position:relative;
    display: inline-block;
    width: calc(25% - 4px);
    height: 281px;
    background-color:#fff;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;}
.produit #section_prod2 #cr_products .slide{cursor:pointer;position:absolute;top:0;left:50%;transform:translateX(-50%);border: solid 1px rgb(205, 205, 205);height:100%;width:88.744%;background-size: cover;background-position: center;}
.produit #section_prod2 #cr_products .slide:hover{border:1px solid rgb(0, 150, 214)}
.produit .w_cr_products .slick-prev{
    cursor:pointer;
    display:inline-block;
    position:absolute;
    top:50%;
    width: 1.94vmin;
    height: 3.46vmin;
    left:0;
    transform:translateX(-100%) translateY(-50%);
    background-position:center;
    background-size: contain;
    background-repeat:no-repeat;
}
.produit .w_cr_products .slick-next{
    cursor:pointer;
    display:inline-block;
    position:absolute;
    top:50%;
    width: 1.94vmin;
    height: 3.46vmin;
    right:0;
    transform:translateX(100%) translateY(-50%) scale(-1);
    background-position:center;
    background-size: contain;
    background-repeat:no-repeat;
}
.produit .w_cr_products[carrousel='gold'] .slick-prev{background-image:url(../../assets/img/carrousel_gold/fleche_carrousel_img_normal.png);}
.produit .w_cr_products[carrousel='gold'] .slick-next{background-image:url(../../assets/img/carrousel_gold/fleche_carrousel_img_normal.png);}
.produit .w_cr_products[carrousel='gold'] .slick-prev:hover{background-image:url(../../assets/img/carrousel_gold/fleche_carrousel_img_hover.png);}
.produit .w_cr_products[carrousel='gold'] .slick-next:hover{background-image:url(../../assets/img/carrousel_gold/fleche_carrousel_img_hover.png);}
.produit .w_cr_products[carrousel='blue'] .slick-prev{background-image:url(../../assets/img/carrousel_blue/fleche_carrousel-img.png);}
.produit .w_cr_products[carrousel='blue'] .slick-next{background-image:url(../../assets/img/carrousel_blue/fleche_carrousel-img.png);}
.produit .w_cr_products[carrousel='blue'] .slick-prev:hover{background-image:url(../../assets/img/carrousel_blue/fleche_carrousel-img_hover.png);}
.produit .w_cr_products[carrousel='blue'] .slick-next:hover{background-image:url(../../assets/img/carrousel_blue/fleche_carrousel-img_hover.png);}
.produit .slide .play-btn{position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);width:8vmin;height:8vmin;background-image:url(../../assets/img/btn_play_normal.png);background-size:cover;}
.produit .slide .play-btn:hover{background-image:url(../../assets/img/btn_play_hover.png)}

/* texte à 4 parties */
.produit .w_table_resume_quar{width:100%;font-family:"hpsimplified",sans-serif;margin-top: 3.53vmin;}
.produit .w_table_resume_quar .cell{
    padding-right: 4.12vmin;
    background-size: 3.71vmin;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    padding-left: 5.875vmin;
    background-repeat: no-repeat;
    background-position: 1.18vmin 0;
}
.produit .w_table_resume_quar .cell h3{
    font-size: 1.88vmin;
    color: rgb(0, 150, 214);
    font-weight: bold;
    margin: 0;
}
.produit .w_table_resume_quar .cell p{
    margin-top: 0.59vmin;
    font-size: 1.65vmin;
    font-family: "Roboto",sans-serif;
    color: rgb(48, 48, 48);
    line-height: 2.5vmin;}
.produit .w_table_resume_quar .cell p > span{font-size:0.59vmin;vertical-align: super;}

/* texte à 3 parties */
.produit .w_table_resume_tri{width:100%;font-family:"hpsimplified",sans-serif;margin-top: 3.53vmin;}
.produit .w_table_resume_tri .cell{
    padding-right: 4.12vmin;
    background-size: 3.71vmin;
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 1.18vmin 0;}
.produit .w_table_resume_tri .cell h3{
    font-size: 1.88vmin;
    color: rgb(0, 150, 214);
    font-weight: bold;
    margin: 0;
}
.produit .w_table_resume_tri .cell p{
    margin-top: 0.59vmin;
    font-size: 1.65vmin;
    font-family: "Roboto",sans-serif;
    color: rgb(48, 48, 48);
    line-height: 2.5vmin;
}
.produit .w_table_resume_tri .cell p > span{font-size:0.59vmin;vertical-align: super;}

/* SECTION3 */
.produit #section_prod3{position:relative;width:100%;background-color: #000;}
.produit #section_prod3 > img{display:block;width:100%;height:auto;}
/* INSTANT INK*/
.produit #remboursement{width:100%;background:#fff;padding:50px 5% 0 5%;box-sizing: border-box;}
.produit #remboursement .w_title{
    display: block;
    width: 100%;
    border-bottom: solid 3px rgb(0, 150, 214);
    margin-bottom: 2.94vmin;
}
.produit #remboursement .w_title h2{
    margin-bottom: 0.47vmin;
    font-size: 2.3vmin;
    letter-spacing: 0.32vmin;
    font-family: "hpsimplified",sans-serif;
    color: rgb(48, 48, 48);
    font-weight: bold;
}
.produit #remboursement .instant-ink_odr > p{display:inline-block;margin:0;width:100%;text-align: center;}
.produit #remboursement .instant-ink_odr > p:first-child{
    font-size: 1.65vmin;
    font-family: "hpsimplified",sans-serif;
    color: rgb(48, 48, 48);
}
.produit #remboursement .instant-ink_odr > p:nth-child(2), #remboursement .instant-ink_odr > p:nth-child(3){
    font-size: 2.12vmin;
    font-family: "hpsimplified",sans-serif;
    font-weight: bold;
    color: rgb(48, 48, 48);
    line-height: 2.45vmin;}
.produit #remboursement .instant-ink_odr > a{
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    font-size: 1.65vmin;
    border: solid 1px rgb(175, 175, 175);
    margin-top: 1.47vmin;
    text-decoration: none;
    color: rgb(48,48,48);
    margin-bottom: 2.0555vmin;
    padding: 0.885vmin 2.35vmin;}
.produit #remboursement .instant-ink_odr > a:hover{
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(175, 175, 175);
}
.produit #remboursement .instant-ink_odr{
    text-align: center;
    font-family: "hpsimplified",sans-serif;
    color: rgb(51, 51, 51);
    padding-top: 4.115vmin;
}
.produit #remboursement .ast-odr{
    display: inline-block;
    font-size: 1.65vmin;
    font-family: "hpsimplified",sans-serif;
    color: rgb(48, 48, 48);}
.produit #remboursement .ast-odr span{font-weight:bold;color: rgb(0, 150, 214);}
/* INSTANT_INK*/
.produit #instant_ink{
    width: 100%;
    background: #fff;
    padding: 2.95vmin 5% 0 5%;
    box-sizing: border-box;
}
.produit #instant_ink .w_title{
    display: block;
    width: 100%;
    border-bottom: solid 3px rgb(0, 150, 214);
    margin-bottom: 1.765vmin;
}
.produit #instant_ink .w_title h2{
    margin-bottom: 0.47vmin;
    font-size: 2.29vmin;
    letter-spacing: 0.32vmin;
    font-family: "hpsimplified",sans-serif;
    color: rgb(48, 48, 48);
    font-weight: bold;
}
.produit #instant_ink > p{
    font-size: 1.87vmin;
    font-family: "hpsimplified",sans-serif;
    color: rgb(0, 150, 214);
    font-weight: bold;
}
.produit #instant_ink > p > sup{font-size: 0.935vmin;}
.produit #instant_ink .instant-ink_list{
    margin: 0 auto 0 auto;
    margin-bottom: 4.7vmin;
    box-sizing: border-box;
    padding-left: 1.5%;
    padding-right: 11.5%;
}
.produit #instant_ink .instant-ink_list .instant-ink_list-dc > div{
    background-image: url(../../assets/img/fleche_point-instant-ink.png);
    background-repeat: no-repeat;
    background-position: left 0.4vmin;
    background-size: 0.6vmin;
    padding-left: 1vmin;
    padding-right: 2vmin;
    margin-bottom: 1.47vmin;
}
.produit #instant_ink .instant-ink_list .instant-ink_list-dc{
    display: inline-block;
    width: 50%;
    font-size: 1.65vmin;
    font-family: "Roboto",sans-serif;
    color: rgb(48,48,48);
    line-height: 2.25vmin;
    box-sizing: border-box;
    vertical-align: top;
}
.produit #instant_ink .instant-ink_list .instant-ink_list-dc div > sup{font-size: 15px;}
.produit #instant_ink .w_howitworks{
    width: 100%;
    padding-bottom: 4.12vmin;
}
.produit #instant_ink .how-video, #instant_ink .how-list{display:inline-block;}
.produit #instant_ink .how-video{
    background-image:url(../../assets/img/screen_video.jpg);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    width:40%;
    vertical-align:top;
    position:relative;}
.produit #instant_ink .how-video .play-btn{
    cursor:pointer;
    background-image:url(../../assets/img/btn_play.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 7.64vmin;
    height: 7.64vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);}
.produit #instant_ink .how-video .play-btn:hover{background-image:url(../../assets/img/btn_play_hover.png);}
.produit #instant_ink .how-list{
    width: 60%;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 3%;}
.produit #instant_ink .how-list p{
    margin-top: 0;
    font-size: 1.65vmin;
    color: rgb(0, 150, 214);
    font-weight: bold;
    font-family: "hpsimplified",sans-serif;
    margin-bottom: 1.06vmin;
}
.produit #instant_ink .how-list ul{margin:0;padding:0;}
.produit #instant_ink .how-list li{
    list-style-type: none;
    font-size: 1.68vmin;
    font-family: "Roboto",sans-serif;
    color: rgb(48,48,48);
    line-height: 2.5vmin;}
.produit #instant_ink .how-list li:before{
    font-weight: bold;
    padding-right: 0.885vmin;
    color: rgb(0, 150, 214);}
.produit #instant_ink .how-list li:nth-child(1):before{content:"1.";}
.produit #instant_ink .how-list li:nth-child(2):before{content:"2.";}
.produit #instant_ink .how-list li:nth-child(3):before{content:"3.";}
.produit #instant_ink .how-list li:nth-child(4):before{content:"4.";}
.produit #instant_ink .how-list li:nth-child(5):before{content:"5.";}
.produit #instant_ink .how-list li:last-child{
    background-image:url(../../assets/img/check_instant-ink.png);
    padding-left: 2.3vmin;
    background-repeat: no-repeat;
    background-size: 1.5vmin;
    background-position: left center;}
.produit #instant_ink .how-list li sup{font-size:14px;}
/* SECTION5 */
.produit #section_prod5{width:100%;background:#fff;padding:0 5%;box-sizing: border-box;}
.produit #section_prod5 .w_title{
    display: block;
    width: 100%;
    border-bottom: solid 3px rgb(0, 150, 214);
    margin-bottom: 2.94vmin;
}
.produit #section_prod5 .w_title h2{
    margin-bottom: 0.47vmin;
    margin-top:0;
    font-size: 2.29vmin;
    letter-spacing: 0.32vmin;
    font-family: "hpsimplified",sans-serif;
    color: rgb(48, 48, 48);
    font-weight: bold;
}
.produit #section_prod5 .w_specs{padding: 0 18%;}
.produit #section_prod5 .spec{width:33.3333%;display:inline-block;text-align: center;}
.produit #section_prod5 .w_specs span{font-size: 28px;display:block;margin:15px auto 0 auto;font-family:"Roboto",sans-serif;}
.produit #section_prod5 .w_view-all-btn{
    width: 100%;
    padding: 1.18vmin 0;
    text-align: center;
}
.produit #section_prod5 .w_view-all-btn a{
    font-family: "hpsimplified",sans-serif;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    font-size: 1.65vmin;
    border: solid 1px rgb(175, 175, 175);
    padding: 0.885vmin 2.35vmin;
    margin-top: 1.47vmin;
    margin-bottom: 2.35vmin;
}
.produit #section_prod5 .w_view-all-btn a:hover{
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(175, 175, 175);}
.produit #section_prod5 .table-specs{display: none;}
.produit #section_prod5 .table-specs .note-spec{font-size: 20px;font-family:"hpsimplified",sans-serif;color: rgb(48, 48, 48);line-height: 1.108;}
.produit #section_prod5 .table-specs, .produit #section_prod5 .ln-spec{
    width: 100%;
    padding-bottom: 1.18vmin;
}
.produit #section_prod5 .spec-col1, .produit #section_prod5 .spec-col2{display:inline-block;vertical-align:top;}
.produit #section_prod5 .spec-col1{
    width: 39%;
    font-size: 1.87vmin;
    font-family: "hpsimplified",sans-serif;
    font-weight: bold;
    border-bottom: solid 3px rgb(193, 193, 193);}
.produit #section_prod5 .spec-col2{
    width: 60%;
    font-size: 1.65vmin;
    font-family: "Roboto",sans-serif;
    color: rgb(48, 48, 48);
    padding-left: 1.18vmin;
    box-sizing: border-box;
}
.produit #section_prod5 .spec-col1 p{
    background: #fff;
    padding-right: 0.71vmin;
    margin: 0;
    display: inline-block;
    float: left;
    margin-bottom: -0.6vmin;
    color: rgb(0, 150, 214);
}
.produit #section_prod5 .spec-col2 p{
    margin: 0;
    margin-bottom: 2.35vmin;
}
/* SECTION6 */
.produit #section_prod6{width:100%;background:#fff;padding:0 5%;box-sizing: border-box;}
.produit #section_prod6 .w_title{
    display: block;
    width: 100%;
    border-bottom: solid 3px rgb(0, 150, 214);
    margin-bottom: 2.94vmin;
}
.produit #section_prod6 .w_title h2{
    margin-bottom: 0.47vmin;
    margin-top:0;
    font-size: 2.29vmin;
    letter-spacing: 0.32vmin;
    font-family: "hpsimplified",sans-serif;
    color: rgb(48, 48, 48);
    font-weight: bold;
}
.produit #section_prod6 .w_accessories{
    width:100%;position:relative;
}
.produit #section_prod6 .w_accessories .slick-prev{
    background-image:url(../../assets/img/fleche_carroussel-img.png);
    background-repeat: no-repeat; background-size: contain; background-position:center;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 1.94vmin;
    height: 3.56vmin;
    left: 0;
    transform: translateX(-100%) translateY(-50%) scale(-1);}
.produit #section_prod6 .w_accessories .slick-prev:hover {
    background-image: url(../../assets/img/fleche_carrousel-img_hover.png);
background-repeat: no-repeat; background-size: contain; background-position:center;
    transform: translateX(-100%) translateY(-50%) scale(-1);
}
.produit #section_prod6 .w_accessories .slick-next {
    background-image: url(../../assets/img/fleche_carrousel_accessoires.png);
    background-repeat: no-repeat; background-size: contain; background-position:center;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 1.94vmin;
    height: 3.56vmin;
    right: 0;
    transform: translateX(100%) translateY(-50%);
}
.produit #section_prod6 .w_accessories .slick-next:hover {
    background-image: url(../../assets/img/fleche_carrousel_accessoires_hover.png);
    background-repeat: no-repeat; background-size: contain; background-position:center;
    transform: translateX(100%) translateY(-50%) scale(-1);
}
.produit #section_prod6 #cr_accessories {width:100%;overflow: hidden;}
.produit #section_prod6 .w_accessory_sheet{display:inline-block;width:33.333%;box-sizing:border-box}
.produit #section_prod6 .w_accessory_sheet{
    padding-right: 0.59vmin;
    padding-left: 0.59vmin;
}
.produit #section_prod6 .w_accessory_sheet .product_sheet{margin: 0 auto;}
.produit #section_prod6 .product_sheet{
    border: solid 1px rgb(62, 62, 62);
    max-width: 510px;
    height: 50vmin;
    padding: 0 2.945vmin;
    box-sizing: border-box;}
.produit #section_prod6 .product_sheet .product{width:100%;display:inline-block;vertical-align:middle;}
.produit #section_prod6 .product_sheet .product a.href_pdct{
    color: #000;text-decoration: none;}
.produit #section_prod6 .product_sheet .product h1{
    color: #000;
    font-family: "hpsimplified",sans-serif;
    font-size: 1.95vmin;
    margin-bottom: 0.47vmin;
}
.produit #section_prod6 .product_sheet .product p{color: #bbbbbb;font-family: "hpsimplified",sans-serif;font-size: 1.65vmin;margin: 0;}
.produit #section_prod6 .product_sheet .product .star{width: 8vmin;height: 1.5vmin;background-size: 100%;}
.produit #section_prod6 .w_star{margin-top: 1.177vmin;}
.rpoduit #section_prod6 .star{width: 7.87vmin;height: 1.53vmin;background-size:100%;}
.produit #section_prod6 .price{font-size: 2.8vmin;font-family: "hpsimplified",sans-serif;color:#f00;font-weight: bold}
.produit #section_prod6 .price span{vertical-align: super;font-size: 1.3vmin;}
.produit #section_prod6 .priceline{
    padding: 1.18vmin 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;}
.produit #section_prod6 .priceline .add-to-cart{
    font-family: "hpsimplified",sans-serif;
    margin: 0 auto;
    border: 0;
    cursor: pointer;
    display: block;
    width: 14.7vmin;
    color: white;
    line-height: 2.85vmin;
    border-radius: 4px;
    text-align: center;
    font-size: 1.41vmin;
    background-color: #f5b027;}

.produit #section_prod6 .add-to-cart i{
    margin-right: 0.55vmin;
}
.produit #section_prod6 .add-to-cart i:before {
    content: "\f148";
    font-family: "icons";
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.produit #section_prod6 .priceline .add-to-cart:hover{ background-color: #ffba33 }
.produit #section_prod6 .priceline .add-to-cart.indispo{color:#1a1a1a; background-color: white;}
/* SECTION7 */
.produit #section_prod7{font-family:"Roboto",sans-serif;width:100%;background:#fff;padding: 2.94vmin 5%;box-sizing: border-box;color: #bbbbbb;}
@media screen and (max-width:2200px){
    .produit #section_prod6 .product_sheet .product-preview{max-width:390px;max-height:390px;}
}