<div :class="'produit '+params.produits[produit].page.color" v-if="page != 'home'">
    <!-- PRODUCT PAGE -->
    <div id="w_popin" :class="popin_pos" v-show="popin_show">
        <div class="popin">
            <span class="w_img-popin">
                <img src="../../assets/img/close_popin.png" class="close_popin" @click="closePopin()">
                <img :src="popin_content" v-if="popin_type=='image'"/>
                <video id="video" v-if="popin_type=='video'" preload='auto' autoplay='true' controls='controls' >
                    <source :src='popin_content' type='video/mp4' />
                </video>
            </span>

        </div>
    </div>
    <!-- PRODUCT PAGE -->
    <section id="section_prod1">
        <img :src="getImageProduit(produit,'header')">
        <span class="goback" @click="menuChange('home',produit)" style="cursor: pointer"><img src="../../assets/img/icone_home.png"><p>Retour</p></span>
        <div class="floating_odr" v-if="params.produits[produit].page.odr_header && params.produits[produit].page.odr_header != ''"><span>{{ params.produits[produit].page.odr_header }}</span>remboursés*</div>
        <div class="product_specs">
            <h1>{{ params.produits[produit].page.produit }}</h1><!-- ligne 1-->
            <div class="specs-body">
                <span class="signature">{{ params.produits[produit].page.accroche }}</span>
                <p>{{ params.produits[produit].page.description }}</p>
            </div>
            <div class="w_star"><span :class="getStars(produit)"></span><span class="nb_avis">{{ getAvis(produit) }} avis clients</span></div>
            <p class="priceline"><span v-html="getPrice(produit, 'full')"></span><a class="add-to-cart" v-if="hasPrice(produit)" @click="addToCart(produit)"><i></i>Ajouter au panier</a><a class="add-to-cart indispo" style="cursor: default;"  v-else><i></i>Indisponible</a></p>
        </div>
        <div class="ast" v-html="params.produits[produit].page.claim"></div>
    </section>
    <section id="section_prod2">
        <slickimages name='products' :items='getCarrousel(produit)' v-on:slideclick="slideClick" />
        <!-- texte à 4 parties -->
        <div class="w_table_resume_quar">
            <div class="cell" v-for="carac in params.produits[produit].page.bloc1" v-if="carac.titre != '' || carac.texte != '' ">
                <h3 :class="params.produits[produit].page.bgcolor">{{ carac.titre }}</h3>
                <p>{{ carac.texte }}</p>
            </div>
        </div>
        <!-- texte à trois parties -->
        <div class="w_table_resume_tri">
            <div class="cell" v-for="carac in params.produits[produit].page.bloc2" v-if="carac.titre != '' || carac.texte != '' ">
                <h3 :class="params.produits[produit].page.bgcolor">{{ carac.titre }}</h3>
                <p>{{ carac.texte }}</p>
            </div>
        </div>
    </section>
    <section id="section_prod3">
        <img :src="getImageProduit(produit,'centre')">
    </section>
    <section id="remboursement" v-if="params.produits[produit].page.odr && params.produits[produit].page.odr.title && params.produits[produit].page.odr.title != ''">
        <span class="w_title"><h2>{{ params.produits[produit].page.odr.title }}</h2></span>
        <div class="w_odr">
            <div class="instant-ink_odr" :style="'background-image: url('+getImageProduit(produit, 'visuelodr')+'); background-position: 1vmin 1vmin; background-repeat: no-repeat; background-size: 24vmin; text-align: center'">
                <p v-for="fonc in params.produits[produit].page.odr.desc" v-html="fonc"></p>
                <a @click="clickPDF(produit)" target="_blank" href="./src/assets/pdf/HP_ODR.pdf">Voir les conditions</a>
                <p class="ast-odr" v-html="params.produits[produit].page.odr.more"></p>
            </div>
        </div>
    </section>
    <section id="instant_ink" v-if="params.produits[produit].page.instant && params.produits[produit].page.instant.title && params.produits[produit].page.instant.title != ''">
        <span class="w_title"><h2>ECONOMISEZ GRÂCE AU SERVICE HP INSTANT INK</h2></span>
        <p v-html="params.produits[produit].page.instant.title"></p>
        <div class="instant-ink_list">
            <div class="instant-ink_list-dc" v-for="modes in params.produits[produit].page.instant.mode">
                <div v-for="mode in modes" v-html="mode"></div>
            </div>
        </div>
        <div class="w_howitworks">
            <div class="how-video" @click="slideClick({ video: true, produit: produit },'howitworks')">
                <span class="play-btn"></span>
            </div><div class="how-list">
                <p>{{ params.produits[produit].page.instant.comment }}</p>
                <ul>
                    <li v-for="howto in params.produits[produit].page.instant.howto" v-html="howto"></li>
                </ul>
            </div>
        </div>
    </section>
    <section id="section_prod5">
        <span class="w_title"><h2>CARACTÉRISTIQUES</h2></span>
        <div class="w_view-all-btn" toggle="false" @click="showCaract(produit)">
            <a>Voir toutes les caractéritiques</a>
        </div>
        <div class="table-specs">
            <div class="In-spec" v-for="(titre, indice) in params.structure.page.caracteristiques">
                <div :class="'spec-col1 '+params.produits[produit].page.bgcolor" vi-if="params.produits[produit].caracteristiques[indice]"><p>{{ titre }}</p></div>
                <div class="spec-col2" vi-if="params.produits[produit].page.expand[indice]"><p>{{ params.produits[produit].page.expand[indice] }}</p></div>
            </div>
            <div class="w_view-all-btn" toggle="false" @click="showCaract(produit)">
                <a>Voir toutes les caractéritiques</a>
            </div>
        </div>
    </section>
    <section id="section_prod6">
        <span class="w_title"><h2>LES CARTOUCHES COMPATIBLES AVEC VOTRE IMPRIMANTE</h2></span>

        <slickaccess name='accessories' :items='getAccessoires(produit)' />

    </section>
    <section id="section_prod7">{{ params.produits[produit].page.legal }}</section>
</div>
