<div :class="'w_'+name">
    <span class="slick-prev" @click="prevItem()"></span>
    <div :id="'cr_'+name">
        <div class="w_accessory_sheet" v-for="item in items">
            <div class="product_sheet">
                <div class="product">
                    <div class="product-preview"><img :src="getImage(item.id_produit)" style="width: 100%" /></div>
                    <a :href="item.href" class="href_pdct" target="_blank" @click="showFiche(item.id_produit)"><h1>{{ item.titre }}</h1></a>
                    <p>{{ item.categorie }}</p>
                    <div class="w_star" v-if="getAvis(item.id_produit) > 0"><span :class="getStars(item.id_produit)"></span></div>
                    <div class="price" v-html="getPrice(item.id_produit, 'min')"></div>
                    <div class="priceline"><a class="add-to-cart" v-if="hasPrice(item.id_produit)" @click="addToCart(item.id_produit)"><i></i>Ajouter au panier</a><a class="add-to-cart indispo" style="cursor: default;"  v-else><i></i>Indisponible</a></div>
                </div><span class="v-middle"></span>
            </div>
        </div>
    </div>
    <span class="slick-next" @click="nextItem()"></span>
</div>
