/*COMMONS*/
html, body{margin: 0; padding: 0; border:none}
html{background:#000}
html *:not(input[type=text]):active {outline-style:none;}
body{margin:0 auto;}
.v-middle{display:inline-block;width:0;height:100%;vertical-align:middle;}
.star{
    display:inline-block;width: 134px; height: 26px; background:url(../assets/img/starsrating.png) no-repeat 100%;
}
.star.S00 {background-position: -1px 0  ;}
.star.S05 {background-position: -1px 10%;}
.star.S10 {background-position: -1px 20%;}
.star.S15 {background-position: -1px 30%;}
.star.S20 {background-position: -1px 40%;}
.star.S25 {background-position: -1px 50%;}
.star.S30 {background-position: -1px 60%;}
.star.S35 {background-position: -1px 70%;}
.star.S40 {background-position: -1px 80%;}
.star.S45 {background-position: -1px 90%;}
.star.S50 {background-position: -1px 100%;}
/*---*/
header{
    background-image: -moz-linear-gradient( 6deg, rgb(21,21,21) 0%, rgb(35,35,35) 26%, rgb(44,44,44) 56%, rgb(35,35,35) 79%, rgb(22,22,22) 100%);
    background-image: -webkit-linear-gradient( 6deg, rgb(21,21,21) 0%, rgb(35,35,35) 26%, rgb(44,44,44) 56%, rgb(35,35,35) 79%, rgb(22,22,22) 100%);
    background-image: -ms-linear-gradient( 6deg, rgb(21,21,21) 0%, rgb(35,35,35) 26%, rgb(44,44,44) 56%, rgb(35,35,35) 79%, rgb(22,22,22) 100%);
    width: 100%;
    text-align: center;
    border-bottom: 5px solid rgb(0, 150, 214);
}
header h1{
    font-family: "hpsimplified",sans-serif;
    font-size: 3.2vmin;
    display: block;
    margin: 0 auto;
    line-height: 6vmin;
    color: #fff;
    font-weight: lighter;
}
nav{
    position: relative;
    background-color:#fff;
    width:100%;
    line-height: 6.22vmin;
    box-shadow: 0px 1px 1.92px 0.08px rgba(0, 0, 0, 0.35);
    border-bottom: solid 1px rgba(0, 0, 0, 0.35);
}
nav .logo-hp{position: absolute;top:50%;right:50%;transform:translateX(50%) translateY(-50%);z-index: 1;height: 75%;cursor: pointer;}
nav ul{
    z-index: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height:100%
}
nav ul li{
    display:inline-block;
    font-size: 1.4vmin;
    font-family: "hpsimplified", sans-serif;
    color: rgb(48, 48, 48);
    font-weight: bold;
    text-transform: uppercase;
    width:25%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}
nav ul li:nth-child(2){padding-right: 10%}
nav ul li:nth-child(3){padding-left: 10%}
nav .w_nav-lbl{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    line-height: 2vmin;}
nav .nav-un-lbl{display: none;bottom:-5px;right:50%;transform:translateX(50%);position:absolute;width:100%;height:5px;background-color:rgb(0, 150, 214)}
.w_nav-lbl:hover .nav-un-lbl{display: inline-block;}
.w_nav-lbl.selected .nav-un-lbl{display: inline-block;}
.w_nav-lbl > p{margin:0}
@font-face {font-family: "hpsimplified"; src: url(../assets/fonts/HPSimplified_Rg.ttf);}
@font-face {font-family: "hpsimplified"; font-weight: bold; src: url(../assets/fonts/HPSimplified.ttf);}
@font-face {font-family: "hpsimplified"; font-weight: bold; font-style: italic; src: url(../assets/fonts/HPSimplified_BdIt.ttf);}
@font-face {font-family: "hpsimplified"; font-style: italic; src: url(../assets/fonts/HPSimplified_It.ttf);}
@font-face {font-family: "hpsimplified"; font-weight: 100; src: url(../assets/fonts/HPSimplified_Lt.ttf);}
@font-face {font-family: "hpsimplified"; font-weight: 100; font-style: italic; src: url(../assets/fonts/HPSimplified_LtIt.ttf);}
@font-face {font-family: "icons";
    src: url('../assets/fonts/icons.eot');
    src: url('../assets/fonts/icons.eot?#iefix') format("embedded-opentype"),
    url('../assets/fonts/icons.woff') format("woff"),
    url('../assets/fonts/icons.ttf') format("truetype");
}
@font-face {font-family: "honeyscript"; src:url(../assets/fonts/HoneyScript-Light.ttf)}
